<?xml version="1.0" encoding="UTF-8"?>
<CustomField xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>Springboard_State__c</fullName>
    <externalId>false</externalId>
    <inlineHelpText>State from online forms. Will update Mailing Address automatically if no previous mailing address existed for the Contact. Otherwise reviewed by DevOps and cleared when the &#39;SB Address Status&#39; is marked as &quot;Review Completed&quot; or &quot;Update Address&quot;.</inlineHelpText>
    <label>Springboard State</label>
    <length>255</length>
    <required>false</required>
    <trackFeedHistory>false</trackFeedHistory>
    <type>Text</type>
    <unique>false</unique>
</CustomField>
